body {
  background-color: #1F2833;
}

h1 {
  text-align: center;
  font-size: 50px;
  background-color: aqua;
}

h2 {
  text-align: center;
  background-color: aliceblue;
}

#desc {
  text-align: center;
  color: aqua;
}

img {
  margin-left: 35%;
  width: 425px;
  height: 250px;
}

#footer{
  background-color: aqua;
  text-align: center;
}

.heart{
  font-size: 3em;
  position: absolute;
  margin-top: -2%;

}

.favorites {
  font-size: 2em;
  color: aqua;
}